header.header.clearfix
  .container
    .logo
      span Boston
    .right-header
      a(href="#!").alert-lnk.waves-effect.waves-light
       img(src="images/icon5.png", alt="")
      a(href="#!").menu-lnk.waves-effect.waves-light
        img(src="images/icon6.png", alt="")
      .label-logo
        img(src="images/icon7.png", alt="")

