.sidebar
  .sidebar-over
    .sidebar-nav
      ul
        li
          a(href="#!").waves-effect.waves-dark
            span.icon-nav 
              img(src="images/icon1.png", alt="")
            | Users & Groups
        li
          a(href="#!").waves-effect.waves-dark
            span.icon-nav 
              img(src="images/icon2.png", alt="")
            | Timelines
        li.active
          a(href="#!").waves-effect.waves-dark
            span.icon-nav 
              img(src="images/icon3.png", alt="")
            | Products
        li
          a(href="#!").waves-effect.waves-dark
            span.icon-nav 
              img(src="images/icon13.png", alt="")
            | Quiz
        //- li
        //-   a(href="#!").waves-effect.waves-dark
        //-     span.icon-nav 
        //-       img(src="images/icon14.png", alt="")
        //-     | Sites